In [1]:
import pandas as pd
import numpy as np
import requests
import time

In [4]:
test_url ='https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2012-13&SeasonType=Regular%20Season&StatCategory=PTS'

In [8]:
r = requests.get(url= test_url).json()

In [11]:
table_headers = r['resultSet']['headers']

In [17]:
pd.DataFrame(r['resultSet']['rowSet'],columns=table_headers)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,1433,0.510,...,640,374,116,105,280,143,2280,2462,1.34,0.41
1,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,1595,0.463,...,433,469,106,25,287,173,2133,1921,1.63,0.37
2,2544,3,LeBron James,1610612748,MIA,76,2877,765,1354,0.565,...,610,551,129,67,226,110,2036,2446,2.44,0.57
3,201935,4,James Harden,1610612745,HOU,78,2985,585,1337,0.438,...,379,455,142,38,295,178,2023,1872,1.54,0.48
4,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,1489,0.449,...,460,171,52,32,175,205,1920,1553,0.98,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,203130,463,Darius Johnson-Odom,1610612747,LAL,4,6,0,4,0.000,...,4,1,0,0,0,0,0,1,0.00,0.00
464,2545,463,Darko Milicic,1610612738,BOS,1,5,0,1,0.000,...,1,0,0,0,2,1,0,-2,0.00,0.00
465,202458,463,Justin Dentmon,1610612742,DAL,2,4,0,2,0.000,...,0,0,0,0,0,0,0,-2,0.00,0.00
466,2679,463,Matt Carroll,1610612766,CHA,1,6,0,0,0.000,...,0,1,0,0,0,1,0,1,0.00,0.00
467,200780,463,Solomon Jones,1610612752,NYK,2,26,0,1,0.000,...,3,0,0,1,3,3,0,0,0.00,0.00

In [44]:
temp_df1 = pd.DataFrame(r['resultSet']['rowSet'],columns=table_headers)
temp_df2 = pd.DataFrame({'Year': ['2012-13' for i in range(len(temp_df1))],
                        'Season_type': ['Regular%20Season' for i in range(len(temp_df1))]})
temp_df3 = pd.concat([temp_df2, temp_df1], axis = 1)

In [45]:
temp_df3

,Year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,2012-13,Regular%20Season,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,...,640,374,116,105,280,143,2280,2462,1.34,0.41
1,2012-13,Regular%20Season,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,...,433,469,106,25,287,173,2133,1921,1.63,0.37
2,2012-13,Regular%20Season,2544,3,LeBron James,1610612748,MIA,76,2877,765,...,610,551,129,67,226,110,2036,2446,2.44,0.57
3,2012-13,Regular%20Season,201935,4,James Harden,1610612745,HOU,78,2985,585,...,379,455,142,38,295,178,2023,1872,1.54,0.48
4,2012-13,Regular%20Season,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,...,460,171,52,32,175,205,1920,1553,0.98,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2012-13,Regular%20Season,203130,463,Darius Johnson-Odom,1610612747,LAL,4,6,0,...,4,1,0,0,0,0,0,1,0.00,0.00
464,2012-13,Regular%20Season,2545,463,Darko Milicic,1610612738,BOS,1,5,0,...,1,0,0,0,2,1,0,-2,0.00,0.00
465,2012-13,Regular%20Season,202458,463,Justin Dentmon,1610612742,DAL,2,4,0,...,0,0,0,0,0,0,0,-2,0.00,0.00
466,2012-13,Regular%20Season,2679,463,Matt Carroll,1610612766,CHA,1,6,0,...,0,1,0,0,0,1,0,1,0.00,0.00
467,2012-13,Regular%20Season,200780,463,Solomon Jones,1610612752,NYK,2,26,0,...,3,0,0,1,3,3,0,0,0.00,0.00

In [46]:
del temp_df1, temp_df2, temp_df3, df

In [33]:
df_cols = ['Year', 'Season_type'] + table_headers

In [47]:
pd.DataFrame(columns=df_cols)

Empty DataFrame
Columns: [Year, Season_type, PLAYER_ID, RANK, PLAYER, TEAM_ID, TEAM, GP, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, EFF, AST_TOV, STL_TOV]
Index: []

[0 rows x 30 columns]

In [49]:
df = pd.DataFrame(columns=df_cols)

years = ['2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19','2019-20','2020-21','2021-22']
season_types = ['Regular%20Season','Playoffs']

begin_time = time.time()

for y in years:
    for s in season_types:
        url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season='+y+'&SeasonType='+s+'&StatCategory=PTS'
        r = requests.get(url= url).json()
        
        temp_df1 = pd.DataFrame(r['resultSet']['rowSet'],columns=table_headers)
        temp_df2 = pd.DataFrame({'Year': [y for i in range(len(temp_df1))],
                            'Season_type': [s for i in range(len(temp_df1))]})
        temp_df3 = pd.concat([temp_df2, temp_df1], axis = 1)
        df =pd.concat([df,temp_df3], axis = 0)
        print(f'Scraped data for {y} {s}')
        lag = np.random.uniform(5,20)
        print(f'waiting for {round(lag,1)} seconds')
        time.sleep(lag)


df.to_excel('nba_players_data.xlsx',headers = False)

Scraped data for 2012-13 Regular%20Season
waiting for 19.8 seconds
Scraped data for 2012-13 Playoffs
waiting for 18.9 seconds
Scraped data for 2013-14 Regular%20Season
waiting for 5.6 seconds
Scraped data for 2013-14 Playoffs
waiting for 18.5 seconds
Scraped data for 2014-15 Regular%20Season
waiting for 15.7 seconds
Scraped data for 2014-15 Playoffs
waiting for 9.6 seconds
Scraped data for 2015-16 Regular%20Season
waiting for 10.2 seconds
Scraped data for 2015-16 Playoffs
waiting for 18.3 seconds
Scraped data for 2016-17 Regular%20Season
waiting for 13.2 seconds
Scraped data for 2016-17 Playoffs
waiting for 19.8 seconds
Scraped data for 2017-18 Regular%20Season
waiting for 19.0 seconds
Scraped data for 2017-18 Playoffs
waiting for 13.7 seconds
Scraped data for 2018-19 Regular%20Season
waiting for 14.8 seconds
Scraped data for 2018-19 Playoffs
waiting for 13.6 seconds
Scraped data for 2019-20 Regular%20Season
waiting for 16.7 seconds
Scraped data for 2019-20 Playoffs
waiting for 11.9 seconds
Scraped data for 2020-21 Regular%20Season
waiting for 6.3 seconds
Scraped data for 2020-21 Playoffs
waiting for 13.7 seconds
Scraped data for 2021-22 Regular%20Season
waiting for 12.4 seconds
Scraped data for 2021-22 Playoffs
waiting for 12.5 seconds

NameError: name 'begin' is not defined

In [56]:
df.to_excel('nba_players_data.xlsx',index = False)

In [ ]:
df.head()